/* CSS cho pháº§n header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  }

  .header__left {
    display: flex;
    align-items: center;
  }

  .header__logo img {
    max-width: 100px;
    height: auto;
    border-radius: 100px;
  }

  #branding h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    color: #333333;
  }

  .highlight {
    color: #ff0000;
  }

  .header__nav-item-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .header__nav-item {
    margin-left: 100px;
  }

  .header__nav-item a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: darkgray;
  }

  .header__nav-item a:hover {
    background-color: #f0f0f0;
  }

  .header__nav-item a.active {
    background-color: #ff0000;
    color: #ffffff;
  }

  .header__right {
    margin-left: 20px;
  }

  .header__cta {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  #showcase{
    background: url(https://png.pngtree.com/background/20211216/original/pngtree-cat-cute-minimalistic-background-picture-image_1535953.jpg) no-repeat center;
    
  }
  .container{
    height: 500px;
    display: block;
  }
  #showcase .container h1{
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
  }
  #showcase .container h2{
    text-align: center;
  }

section div{
    display: inline-block
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}
.background{
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.cat p{
  display: inline-block;
  width: 800px;
  
}
.cat li{
  list-style-type: none;
}



  footer{
    background-color: antiquewhite;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 7px;
  }
  ul{
    padding-left: 300px;

  }
  footer p{
    font-weight: bold;
    padding-top: 20px;

  }
