body{
    font-family: Arial, Helvetica, sans-serif;
}

.heading-firt{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-image: linear-gradient(to right, rgb(29, 190, 50), rgb(235, 169, 177));
    margin-top: -10px;
}

.heading-firt ul{
    list-style: none;
}


.heading-firt-1{
    margin-left: 50px;
    color: rgb(15, 85, 146);
    margin-top: -10px;

}
.heading-firt-1 i{
    font-size:50px;
}

/* .fa-b {
    position: relative;
} */

.heading-firt-1 h1 {
    position: absolute;
}
.heading-firt-1 p{
    margin-top: 70px;
    margin-left: 40px;
    font-size: 14px;
    width: 148px;
}




.heading-firt-2 input{
    height: 25px;
    width: 328px;
    border: 1.8px solid rgb(65, 113, 216);
    padding-top: 6px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading-firt-2 a{
    background-color: rgb(92, 99, 199);
    height: 30px;
    width: 40px;
    font-size: 22px;
    margin-left: -5px;
    border: 1.8px solid rgb(65, 113, 216);
    display: inline-flex;
    padding-top: 1.6px;

}
.heading-firt-2 i{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    color: rgb(144, 163, 99);
}



.heading-firt-3{
    padding-right: 40px;
}
.heading-firt-3 li,a{
    text-decoration: none;
    display: inline-block;
    margin-right:6px ;
    color: rgb(15, 85, 146);
    margin-top: 6px;

}

.heading-firt-3 li, a:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__notify{
    position: absolute;
    top: 42%;
    right: 520px;
    width:404px;
    border: 1px solid rgb(7, 6, 6);
    background-color: white;
    cursor: default;
    transform-origin: calc(100%-20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
} 
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__has-notify:hover .header__notify{
    display: block;
}

.header__notify::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
    width: 90px;
    height: 16px;
}


.header__notify-header{
    height: 40px;
    background-color: rgb(252, 252, 252);
}

.header__notify-header h3{
    margin-top: 10px;
    margin-left: 10px;
    color: #999;
    font-size: 16px;
}

.header__notify-list{
    padding-left: 0px;
}

.header__notify-item{
    width: 100%;
}

.header__notify-item:hover{
    background-color: rgb(107, 224, 107);
}
.header__notify-item--viewed{
    background:rgb(191, 224, 194);
}

.header__notify-item img{
    width: 50px;
    height: 50px;
}
.header__notify-link{
    display: flex;
    width: 100%;
}

.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    font-size: 16px;
    color: rgb(48, 42, 42);
}
.header__notify-descriotion{
    display: block;
    font-size: 14px;
    padding-top: 2px;
    color: #999;
}
.header__notify-footer {
    text-align: center;    
}
.header__notify-footer-xtc {
    padding-top: 20px;
    color: rgb(15, 85, 146);
}
.header__notify-footer-xtc:hover{
    color: rgb(49, 8, 161);
}

#heading-second{
    padding-top: 100px;
    text-align: center;


}


.heading-second-product{
    width: 18%;
    display: inline-block;
    border: 2px solid  #dfd4d4;
    margin-top: 10px;  
    
}


.heading-second-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.heading-second-evaluate{
    font-size: 12px;
}   

.heading-second-discount{
    color: rgb(36, 138, 138);
    
}
.heading-second-oldprice{
    text-decoration-line:line-through;
    color: rgb(6, 6, 7);
}
.heading-second-newprice{
    color:rgb(238, 141, 14);    
}

.heading-second-evaluate i{
    color:rgb(238, 141, 14);    
}
.heading-second-product h5{
    height: 30px;
}
.heading-second-product:hover{
    border: 2px solid rgb(211, 116, 82);
}


.heading-second-topsearch h2{
    color: deepskyblue;
    background-color: #ececec;
    height: 50px;
    padding-top: 20px;

}

.heading-second-sunprotection h2{
    color: violet;
    background-color: #ececec;
    height: 50px;
    padding-top: 20px;

}
.heading-second-cleanser h2{
    color: rgb(10, 134, 93);
    background-color: #ececec;
    height: 50px;
    padding-top: 20px;


}
.heading-second-lipstick h2{
    color: rgb(156, 23, 13);
    background-color: #ececec;
    height: 50px;
    padding-top: 20px;
}
.heading-second-perfume h2{
    color: rgb(164, 197, 19);
    background-color: #ececec;
    height: 50px;
    padding-top: 20px;
}

#footer{
    margin-top: 100px;
}

.footer-commit{
    background-color: #e9f1e9;
    width: 44%;
    border: 1px solid rgb(30, 206, 206);
    margin-left: 5%;
    text-align: center;
    float: left;
    height: 100%;
}

.footer-certification{
    background-color: #e9f1e9;
    width: 43%;
    border: 1px solid rgb(30, 206, 206);
    float: right;
    height:100%;
    margin-right: 5%;
    text-align: center;
    /* padding-bottom: 14.8px; */
}
.footer-certification img{
    width: 70%;
    height: 20%;
}

.footer-branch{
    border-top: 1px solid rgb(30, 206, 206);
    background-color: #e6dada;
    /* height: 100%; */
    margin-top: 15.9px;
    padding-bottom: 0.8px;
}

#footer h3{
    padding-top: 18px;
}

#footer-commit p{
    width: calc(100% - 25px);
    padding: 10px;
}

.footer-first{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer-second{
    width: 100%;
    background-color: rgb(153, 231, 101);
    height: 40px;
    float: left;
}
.footer-second h4{
    text-align: center;
    color: #615656;
    margin-top: 12px;
}

.footer-frame{
    float: left;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}
